@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* Styles */

.main-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

th,
td {
  border: 1px solid black;
}

td {
  width: 50px;
  height: 50px;
  padding: 0 2px;
  padding-top: 1px;
}

.element {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}

.element-num {
  font-size: 0.7em;
  font-weight: bold;
}

.num {
  border: none;
  font-size: 0.65em;
}

.left-num {
  text-align: right;
}

.out-num {
  text-align: center;
  padding-top: 30px;
}

.period {
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.group {
  text-align: center;
}

/* Colors */

.light-orange {
  background-color: #fde2a9;
}

.med-orange {
  background-color: #ffc48f;
}

.orange {
  background-color: #f9a985;
}

.lime-green {
  background-color: #e8ee96;
}

.green {
  background-color: #a9d9bc;
}

.blue {
  background-color: #b4e6fa;
}

.purple {
  background-color: #cfc3e2;
}

.pink {
  background-color: #f4d1d8;
}

.white {
  background-color: #ffffff;
}

/* sub table */

.sub-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 25px;
}

.text {
  text-align: right;
}

/* Ledger */

.ledger-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.ledger-text {
  height: 10px;
  border: none;
  font-size: 0.65em;
}

.ledger-box {
  height: 20px;
  width: 20px;
  border: none;
  padding: 0 15px;
}

.ledger-light-orange {
  background-color: #fde2a9;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-med-orange {
  background-color: #ffc48f;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}
.ledger-orange {
  background-color: #f9a985;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-green {
  background-color: #a9d9bc;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-lime-green {
  background-color: #e8ee96;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-white {
  background-color: #fff;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-blue {
  background-color: #b4e6fa;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.ledger-pink {
  background-color: #f4d1d8;
  border: 1px solid black;
  height: 15px;
  width: 15px;
}

.extra-txt {
  width: 100px;
  display: flex;
  align-items: flex-start;
}
